<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">31501370</property>
        <property name="hibernate.connection.url">jdbc:mysql://106.14.177.245:3306/stu_grade_manager</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="cn/edu/zucc/stumanager/databean/Check.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/StudentChoiceCourse.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/Course.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/TaskGrade.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/Teacher.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/CheckInfo.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/CourseExam.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/Task.hbm.xml"/>
        <mapping resource="cn/edu/zucc/stumanager/databean/Student.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
